body{
    margin: 0;
    padding: 0;
    color: #01121A;
    background: #FFFFFF;
}

/*----------[header]----------*/
h1{
    margin: 0;

    height: 16vh;
    width: 38vw;

    padding-left: 31vw;
    padding-right: 31vw;
    padding-top: 32vh;/*17vh or 20vh*/
    padding-bottom: 32vh;

    color: #000000;
    font-size: 63px;
    font-family:sans-serif;
    text-shadow: 3px 3px 3px rgba(0, 0, 0);
    text-align: center;

    background-image: url("banner.jpg");
    background-size: cover;
    background-position: center;
}


p{
    margin: 0;
}


.gradient_bottom {
    margin: 0;
    width: 100vw;
    height: 10px;
    background: linear-gradient(to bottom, #000000, #FFFFFF);
}


/*----------[header]----------*/
/*----------[section_1]----------*/


a{
    color: #0076A6;
    text-decoration: underline;
}

a:hover{
    color: #C4694B;
    text-decoration: underline;

}

a:active{
    color: #52A349;
    text-decoration: underline;
}


.explanation p{
    
    margin-left: 10vw;
    padding-right: 10vw;
    padding-top: 23vh;
    padding-bottom: 23vh;

    font-size: 2em;
    font-family: sans-serif;
    text-align: center;

}


/*----------[section_1]----------*/
/*----------[section_2]----------*/


.gradient_top {
    margin: 0;
    width: 100vw;
    height: 10px;
    background: linear-gradient(to top, #000000, #FFFFFF);
}

h2 {
    margin: 0;

    height: 16vh;
    width: 38vw;

    padding-left: 31vw;
    padding-right: 31vw;
    padding-top: 20vh;
    padding-bottom: 20vh;

    background-image: url("location.png");
    background-size: cover;
    background-position: center;

    color: #000000;
    text-decoration: none;
    text-align: center;
    font-size: 63px;
    font-family: sans-serif;
    text-shadow: 3px 3px 3px rgba(0, 0, 0);

}

.place a:hover {
    color: #000000;
    text-decoration: none;
}
.place a:active {
    color: #000000;
    text-decoration: none;
}
.place a {
    color: #000000;
    text-decoration: none;
}
